$shadow-color-primary: #dedede;
$shadow-color-ambient: #dedede;
$background: #f4f4f4;
$card-color: #fff;
$results-gutter: 8px;

html,
body {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background-color: $background;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: Roboto, sans-serif;
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;

    input {
        &[type='search'] {
            margin: 10px;
            border: 0;
            box-shadow: -4px 4px 2px $shadow-color-primary, 0 0 5px $shadow-color-ambient;
            padding: 15px;
            width: 70%;
        }
    }
}

.content {
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    overflow: auto;
}

.results {
    display: grid;
    flex: 1 1 100%;
    padding: $results-gutter + 2px;
    box-sizing: border-box;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap:  $results-gutter;
    grid-row-gap: $results-gutter;
    grid-auto-rows: max;
}

@media(max-width: 1200px) {
    .results {
        grid-template-columns: repeat(4, 1fr);
    }
}

.result-item {
    display: flex;
    flex-direction: column;
    background-color: $card-color;
    padding: 8px;

    .image {
        flex: 1 1 100%;
        width: 100%;
    }

    .title {
        padding: 5px;
        font-size: 16px;
        font-weight: 700;
    }

    .subtitle {
        display: flex;
        padding: 3px 5px;
    }

    .brand {
        flex: 1 1 auto;
    }
}

.side-bar {
    margin: 10px;
    width: 20%;
}

.card {
    margin: 8px;
    box-shadow: -2px 2px 2px $shadow-color-primary, 0 0 3px $shadow-color-ambient;
    background-color: $card-color;
}

.filter {
    min-height: 300px;
}

.chat {

    .log {
        margin: 7px;
        min-height: 250px;
        max-height: 400px;
    }

    .message-line {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 5px;

        &.in {
            align-items: end;

            .message {
                background-color: #e0e0e0;
            }
        }
    }

    .message {
        border-radius: 5px;
        background-color: lightblue;
        padding: 7px;
        max-width: 75%;
    }

    .input {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-top: 1px #cecece solid;
        box-shadow: none;
        padding: 10px;
        width: 100%;
        line-height: 22px;
        font-size: 14px;
        box-sizing: border-box;
    }

    .option {
        margin-right: 7px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #e0e0e0;
        cursor: pointer;
        padding: 5px;
    }
}
